@import "./../../../styles.scss";

.result {
  width: 100%;
  .result__title {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }

  .result__output {
    padding: 10px;
    text-align: center;
    margin: 10px;
  }

  .result__score {
    color: $yellow;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .result__action {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .result__button-end {
    width: 10rem;
    height: 2.5rem;
    padding: 10px;
    margin: 10px;
  }
  .result__button-start {
    width: 10rem;
    height: 2.5rem;
    padding: 10px;
    margin: 10px;
  }
}
