body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    background-color: $background-color;
    overflow-x: hidden;
    color: $font-color;
    font-family: 'Baloo Tamma 2', cursive;
  }

  .title {
    color: $blue;
  }
  
  .form {
    border: 1px solid $green;
  }
  
  .button {
    border: 1px solid #ffffff;
    font-size: $button-font-size;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    color: $button-font-color;
    background-color: $button-background-color;
    transition: all ease 0.2s;
    &:hover {
      background-color: $button-background-color-hover;
    }
  }
  
  .input__field {
    font-size: 1em;
    font-style: italic;
    border: 1px solid $green;
    background: transparent;
    color: $font-color;
    background: rgba(0, 0, 0, 0.5);
    &:focus {
      border: 1px solid $green;
    }
  }
  
  .block {
    max-width: 100%;
  }
  
  