<div class="ranking">
    <div class="ranking__block">
        <h2 class="ranking__title title">Users ranking</h2>
        <table class="ranking__table">
            <tr class="ranking__list ranking__list-subtitle">
                <th class="ranking__item">№</th>
                <th class="ranking__item">Date</th>
                <th class="ranking__item">User name</th>
                <th class="ranking__item">Timer</th>
                <th class="ranking__item">Score</th>
                <th class="ranking__item">Average Score</th>
            </tr>

            <tr class="ranking__list" *ngFor="let data of rankingData; let i = index">
                <td class="ranking__item">{{ i + 1 }}</td>
                <td class="ranking__item">{{ data.date }}</td>
                <td class="ranking__item">{{ data.userName }}</td>
                <td class="ranking__item">{{ data.timer }}</td>
                <td class="ranking__item">{{ data.counter }}</td>
                <td class="ranking__item">{{ data.averageCounter }}</td>
            </tr>
        </table>
    </div>
</div>