@import "./../../../styles.scss";

.ranking {
  .ranking__title {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    color: $yellow;
  }

  .ranking__table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
  }

  .ranking__list-subtitle {
    background-color: $yellow;
    color: #000;
  }

  .ranking__item {
    border: 1px solid #fff;
    text-align: center;
    width: 5rem;
    height: 2rem;
    padding: 5px;
  }
}
