@import "./../../../styles.scss";

.greeting {
  width: 100%;
  .greeting__title {
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .greeting__button {
    width: 10rem;
    height: 2.5rem;
    padding: 10px;
    margin: 10px auto;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;

  .form__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .form__name {
    padding: 10px;
    text-transform: uppercase;
    margin: 10px auto;
    text-align: center;
    font-size: 1.2rem;
  }

  .form__input {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
}
